<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners> 
  <listener class-name="Academy.Listeners"/> 
  
  </listeners>

  <test thread-count="5" name="Validating NavigationBar">
    <classes>
      <class name="Academy.validateNavigationBar"/>
       </classes>
  </test> 
      
   <test thread-count="5" name="Validating 2 users using Data Provider">
    <classes> 
      <class name="Academy.HomePage"/>
      
        </classes>
  </test> 
  
   
   <test thread-count="5" name="Validating Title">
    <classes>     
      <class name="Academy.validateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
